
main {
	display: flex;
	flex-direction: column;
	min-width: 128px;
}

#main-button {
	box-sizing: border-box;
	background: darkslategrey;
	color: white;
	border: none;
	border-radius: 4px;
	padding: 8px;
	margin: 8px;
}

button.link {
	background: none;
	border: none;
	color: #000037;
	text-decoration: underline;
	text-align: center;
}

.error {
	padding: 8px;
	margin: 8px;
	background: indianred;
}
